# mihomo 镜像

mihomo 是一个基于 Clash 核心的代理工具镜像，集成了 Metacubexd 管理面板，提供强大的代理功能和直观的 Web 管理界面。


**构建信息**
- mihomo 核心版本: `{{MI_VERSION}}`
- Metacubexd 面板版本: `{{MetaCubeX_VERSION}}`

### 拉取镜像
```bash
# Docker Hub
docker pull daitcl/mihomo:{{MI_VERSION}}
# GitHub Container Registry
docker pull ghcr.io/daitcl/mihomo:{{MI_VERSION}}
# 启动容器
docker run -d --name mihomo -p 7890:7890 -p 8080:8080 daitcl/mihomo:{{MI_VERSION}}
```

> 仓库地址：https://github.com/daitcl/mihomo